# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
*.DS_Store
*.pem

# local env files
.env*.local
.env
ece1778-app/ece1778-project-47b62-firebase-adminsdk-fbsvc-771ff60c2b.json

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# supabase
supabase
